/* 
body{
  background: #fefaf6;
}

.head{
    font-family: 'Major Mono Display', monospace;
    font-size: 6rem;
    text-align:center;
    font-weight: 200;
    padding: 2%;
    padding-top: 6rem;
    text-transform: uppercase;
} */